<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <!-- Required meta tags -->
<!--    <meta charset="utf-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Bootstrap Optional JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Coding Events</title>
<!--    <link rel="stylesheet" th:href="@{/styles.css}">-->
<!--    <script th:src="@{/script.js}"></script>-->
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
    </ul>
</nav>

<table th:fragment="eventTable" class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Address</th>
            <th>Event Image</th>
        </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getKey()}">No event: Enter an event</td>
            <td th:text="${event.getValue()}">No event: Enter event Description</td>
            <td th:text="${address}">Address goes here</td>
<!--Could not figure out how to get an image to display using href-->
            <td class="nav-item">
<!--                <a class="nav-link" th:href="https://www.launchcode.org/assets/dabomb-2080d6e23ef41463553f203daaa15991fd4c812676d0b098243b4941fcf4b57f.svg"></a>-->
<!--                <a th:href="resources/static/images/KClogo"></a>-->
<!--                <img th:src = "@{/images/kclogo.jpg}"/>-->
                <img th:href = "static/images/kclogo}"/>
<!--                <img th:src = "https://www.launchcode.org/assets/dabomb-2080d6e23ef41463553f203daaa15991fd4c812676d0b098243b4941fcf4b57f.svg"/>-->
                Image goes here
            </td>
        </tr>
    </th:block>
</table>

</body>
</html>